

#feedback-section {
  height: 40vh;
  display: flex;
  background-color: #8c919a;
}

.feedback-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.feedback-left h1,
.feedback-left p {
  margin-left: 10%;
}

.feedback-left h1 {
  font-size: 40px;
}

.feedback-left p {
  font-size: clamp(20px, 2vw, 24px);
  width: 80%;
}

.feedback-right {
  width: 50%;
}

.feedback-right form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#feedback {
  height: 80%;
  width: 50%;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

.feedback-right form input[type="submit"] {
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

span {
  color: rgb(183, 11, 11);
}




@media screen and (max-width: 768px) {
  #feedback {
    width: 80%;
  }

  .feedback-left p {
    width: 90%;
  }
}



/* Mobile Design */
@media screen and (max-width: 480px) {
  #feedback-section {
    flex-direction: column;
    height: 100vh;
  }

  .feedback-left {
    width: 100%;
    height: 50%;
    align-items: flex-start;
    justify-content: center;
  }

  .feedback-left h1 {
    font-size: 10vw;
  }

  .feedback-left p {
    font-size: 4.5vw;
    width: 80%;
  }

  .feedback-right {
    width: 100%;
    height: 50%;
  }

  #feedback {
    width: 80%;
  }

  .feedback-right form input[type="submit"] {
    width: 50%;
    font-size: 18px;
  }
}
