#info {
  height: 50vh;
  display: flex;
  background-color: lightgray;
}

.info-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5%;
}

.info-left h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(20px, 3vw, 48px);
  padding-left: 5%;
}

.info-left p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: clamp(8px, 2vw, 24px);
  padding-left: 5%;
}

.info-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  height: 80%;
  width: 85%;
  overflow-y: scroll;
  background-color: gray;
  border: 1px solid black;
}

.info-box h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background-color: snow;
  border-bottom: 1px solid black;
  padding: 20px;
  font-size: clamp(14px, 2vw, 18px);
}

.info-box span {
  display: inline-block;
  padding: 10px;
}

.info-box span a {
  color: blue;
}

@media screen and (max-width: 768px) {
  #info {
    height: 80vh;
    flex-direction: column;
  }

  .info-left {
    width: 100%;
    height: 40%;
  }

  .info-left h1 {
    font-size: clamp(20px, 6vw, 48px);
  }

  .info-left h3 {
    font-size: clamp(8px, 3vw, 24px);
    padding-right: 5%;
  }

  .info-right {
    width: 100%;
    height: 60%;
  }

  .info-box {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 468px) {
  #info {
    height: 120vh;
  }

  .info-left {
    height: 30%;
  }

  .info-left h1 {
    font-size: clamp(20px, 8vw, 48px);
  }

  .info-left p {
    font-size: clamp(8px, 4vw, 24px);
  }

  .info-right {
    height: 70%;
  }

  .info-box h3 {
    height: 50%;
    font-size: clamp(14px, 4vw, 28px);
  }
}
