@use "./plug" as p;


#info {
  display: flex;
  background-color: lightgray;

  .info-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vh;
    padding: 3rem 1rem;

    h1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: clamp(p.rem(32px), 3vw, p.rem(48px));
      padding-left: 5%;
    }
    p {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: clamp(16px, 2vw, 24px);
      padding-left: 5%;
    }
  }

  .info-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 3rem 1rem;

    .info-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: none;
      height: 90%;
      width: 90%;
      overflow-y: scroll;
      background-color: gray;
      border: 1px solid black;

      h3 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        background-color: snow;
        border-bottom: 1px solid black;
        padding: 1.25rem;
        font-size: clamp(14px, 2vw, 18px);
        line-height: 1.2;
        word-wrap: break-word;
        text-overflow: ellipsis;
      }
    }
  }
}

@media screen and (max-width: p.rem(768px)) {
  #info {
    flex-direction: column;
    .info-left {
      width: 100%;
    }
    .info-right {
      width: 100%;
    }
  }
}