* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cutive Mono";
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: gray;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  margin: 0 40px;
  letter-spacing: -0.08em;
  width: 176px;
  transition: all 0.3s;
  justify-content: center;
  display: flex;
}

nav a:hover {
  text-shadow: 0 0 4px gray;
  color: snow;
  letter-spacing: 0.02em;
}

/* for mobile icons -- ignore */
#staff,
#contact,
#about,
#schedule {
  display: none;
}

/* Head Banner */
header figure {
  background-position: center;
  background-image: url("/images/main-banner-2.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

header #headline {
  position: absolute;
  top: 13%;
  width: 100%;
}

#headline h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  letter-spacing: 12px;
  font-size: 90px;
  color: snow;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  text-shadow: 0 0 4px gray;
}

.gradient {
  background: linear-gradient(45deg, #e770ff, #ffbf60, #5cbeff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

/* Header buttons */

header #buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10%;
  width: 100%;
  height: 90px;
  border-radius: 10px;
}

#buttons button {
  margin: 0 30px;
  width: 200px;
  font-size: 24px;
  border-radius: 10px;
}

#buttons button:hover {
  cursor: pointer;
  border: 2px solid transparent;
}

#buttons #join-us {
  background-color: snow;
  color: black;
}

#buttons #join-us:hover {
  background: linear-gradient(snow, snow) padding-box,
    linear-gradient(45deg, #e770ff, #ffbf60, #5cbeff) border-box;
}

#buttons #learn-more {
  background: black;
  color: snow;
}

#buttons #learn-more:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #e770ff, #ffbf60, #5cbeff) border-box;
}

/* Stats section */
main #stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #ced4db;
  box-shadow: inset 0 8px 24px gray;
}

#stats h1 {
  background-color: #e8ecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  padding: 0px 10px;
  text-align: center;
  border: none;
  color: #3a414a;
  border-radius: 14px;
  font-family: "Roboto Slab";
}

#left-card {
  box-shadow: inset 0 2px 2px #e770ff, 0 4px 8px rgba(0, 0, 0, 0.3);
}

#middle-card {
  box-shadow: inset 0 2px 2px #ffbf60, 0 4px 8px rgba(0, 0, 0, 0.3);
}

#right-card {
  box-shadow: inset 0 2px 2px #5cbeff, 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Carousel section */

.carousel {
  height: 600px;
  background-color: darkgray;
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  display: flex;
  width: 55%;
  height: 85%;
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease;
}

#active {
  opacity: 1;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  box-shadow: 0 8px 10px gray;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#left {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 4;
  left: 17%;
}

#left:hover {
  cursor: pointer;
}

#left i {
  font-size: 24px;
}

#right {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 4;
  right: 17%;
;}
#right:hover {
  cursor: pointer;
}

#right i {
  font-size: 24px;
}

/* --------------------- Responsive Design --------------------- */

/* Laptop design  */
@media screen and (max-width: 1600px) {
  /* #stats h1 {
    transform: scale(0.8);
  } */
}

/* Tablet Landscape design  */
@media screen and (max-width: 1024px) {
  #stats h1 {
    transform: scale(0.8);
  }
}

/* Tablet design  */
@media screen and (max-width: 768px) {
  nav {
    transition: all 0.3s ease;
  }

  nav a {
    margin: 0;
  }

  #headline h1 {
    transition: all 0.4s ease;
    font-size: 64px;
  }
}

/* Mobile design */
@media screen and (max-width: 480px) {
  nav {
    top: 3%;
  }

  nav .non-mobile-nav {
    display: none;
  }

  #about,
  #schedule,
  #staff,
  #contact {
    display: block;
    font-size: 6vw;
    margin: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
