footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  flex-wrap: wrap;
}

.footer-container {
  width: 100%;
  height: 90%;
  display: flex;
}

.footer-section {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;

}

.footer-section div {
  width: 90%;
  text-align: center;
  font-size: clamp(16px, 2vw, 20px);
}

.footer-section h3 {
  width: 90%;
  text-align: center;
  font-size: clamp(8px, 2vw, 28px);
}


#footer-card-two a {
  text-decoration: none;
  font-size: clamp(10px, 2vw, 20px);
  width: 90%;
  text-align: center;
}


#footer-card-three p {
  width: 90%;
}

#footer-card-three form {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

#footer-card-three input {
  height: 100%;
  width: 65%;
}

#footer-card-three button {
  height: 100%;
  width: 30%;
}

#footer-card-three p {
  font-size: clamp(10px, 2vw, 20px);
  text-align: center;
}

#footer-card-four a {
  font-size: clamp(10px, 2vw, 35px);
}

#footer-card-four .contact-socials {
  display: flex;
  justify-content: space-around;
}

#footer-ending {
  text-align: center;
  height: 10%;
  padding-top: 10px;
}



/* Tablet Design */
@media screen and (max-width: 768px) {
  #footer {
    height: 100vh;
  }
  
  .footer-container {
    flex-direction: column;
    width: 100%;
  }

  .footer-section {
    width: 100%;
    height: 95%;
    gap: 5%;
    border: 1px solid black;
  }

  .footer-section h3 {
    height: 20%;
    font-size: clamp(26px, 4.75vw, 55px);
  }

  .footer-section div {
    font-size: clamp(22px, 3vw, 40px);
  }

  #footer-card-two a, #footer-card-three p {
    font-size: clamp(22px, 2.75vw, 40px);
  }

  #footer-card-four a {
    font-size: clamp(22px, 5vw, 40px);
  }

  #footer-ending {
    height: 10%;
    font-size: clamp(22px, 2.5vw, 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }
}




/* Mobile Design */
@media screen and (max-width: 480px) {
  #footer {
    height: 200vh;
    border: 2px solid red;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    width: 100%;
    height: 100%;
  }

  .footer-section h3 {
    font-size: 40px;
  }
}