footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  flex-wrap: wrap;
}

.footer-container {
  width: 100%;
  height: 90%;
  display: flex;
  border: 1px solid red;
}

.footer-section {
  border: 2px solid blue;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;

}

.footer-section div {
  border: 1px solid red;
  width: 90%;
  text-align: center;
}

.footer-section h3 {
  border: 2px solid purple;
  width: 90%;
  text-align: center;
  font-size: clamp(10px, 1vw, 40px);
}

#footer-card-two a {
  text-decoration: none;
}

